body {
    background-color: black;
  }
  .form {
    width: 400px;
    margin: auto;
    margin-top: 200px;
    margin-left: 30px;
  }
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  .search {
    text-align: center;
    width: 50%;
  }
  .submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
  }

   